<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210345626252-nnmrslal0sdn8q6b1pmqic8us352lfnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210345626252-nnmrslal0sdn8q6b1pmqic8us352lfnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210345626252-g0l2fte6bps6qn1lvgn9j5gl0snq5kiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyLGcNU_oBKDL_dAbyi2JmqtyMpKWv8kA</string>
	<key>GCM_SENDER_ID</key>
	<string>210345626252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>surya.oktana.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-86bda</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-86bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210345626252:ios:d66451e90d951f526449a9</string>
</dict>
</plist>